{% extends 'base.html' %}
{% block title %}Manillas Bolivia{% endblock %}
{% load static %}
{% block content %}
<div class="wrapper">
  <!-- Sidebar -->
  <div class="sidebar" data-background-color="white">
    <!-- *************** -->
    <!-- CABECERA INICIO -->
    <!-- *************** -->
  <div class="sidebar-logo" >
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="white">
      <a href="{% url 'dashboard:inicio' %}" class="logo">
        <i class="fas fa-qrcode fs-1"></i>
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  
<!-- ********************** -->
<!-- INICIO DE Menu Lateral -->
<!-- ********************** -->

  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">

        <li class="nav-item">
          <a href="{% url 'dashboard:inicio' %}">
            <i class="fas fa-bars"></i>
            <p>Home</p>
          </a>
          
        </li>

        <li class="nav-item">
          <a href="{% url 'dashboard:qrscan' %}">
            <i class="fas fa-qrcode"></i>
            <p>QR Control</p>
          </a>
        </li>
        
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#forms">
            <i class="fas fa-pen-square"></i>
            <p>Create Event</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="forms">
            <ul class="nav nav-collapse">
              <li>
                <a href="{% url 'dashboard:create' %}">
                  <span class="sub-item">Create</span>
                </a>
              </li>
              <li>
                <a href="{% url 'dashboard:assign' %}">
                  <span class="sub-item">Assign Users</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
<!-- Monitor option-->
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#tables">
            <i class="fas fa-table"></i>
            <p>Monitor Event</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav nav-collapse">
              <li>
                <a href="{% url 'dashboard:share' %}">
                  <span class="sub-item">Basic Table</span>
                </a>
              </li>
              <li>
                <a href="{% url 'dashboard:tables' %}">
                  <span class="sub-item">Datatables</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

<!-- log Out -->
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#submenu">
            <i class="fas fa-bars"></i>
            <p>Log Out</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="submenu">
            <ul class="nav nav-collapse">
              <li>
                <a  href="{% url 'dashboard:inicio' %}">
                  <span class="sub-item">LogOut</span>
                </a>
                
              </li>
              
            </ul>
          </div>
        </li>
        <!-- END -->
           
      </ul>
    </div>
  </div>
</div>

<!-- ********************** -->
<!-- FIN DE Menu Lateral -->
<!-- ********************** -->

<div class="main-panel">
  <div class="main-header">

    <div class="main-header-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="{% url 'dashboard:inicio' %}" class="logo">
          <img
            src= "{% static 'img/kaiadmin/logo_light.svg' %}"
            alt="navbar brand"
            class="navbar-brand"
            height="20"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>

  <!-- Navbar Header -->
  <nav
    class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
  >
    <div class="container-fluid">
      <nav
        class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
      >
      <div>
        <h4 class="text-primary fw-bold mb-12">
          WristScan
        </h4>
      </div>
      </nav>

      <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
        
        <li class="nav-item topbar-user dropdown hidden-caret">
          <a
            class="dropdown-toggle profile-pic"
            data-bs-toggle="dropdown"
            href="#"
            aria-expanded="false"
          >
            <div class="avatar-sm">
              <!-- Imagen de Perfil -->
             <img
                src="{% static 'img/profile.jpg' %}"
                alt="..."
                class="avatar-img rounded-circle"
              /> 

            </div>
            <span class="profile-username">
              <span class="op-7">Hi,</span>
              <span class="fw-bold">Hizrian</span>
            </span>
          </a>
          <ul class="dropdown-menu dropdown-user animated fadeIn">
            <div class="dropdown-user-scroll scrollbar-outer">
              <li>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="#">My Balance</a>
                <a class="dropdown-item" href="#">Inbox</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Account Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar -->
  </div>

  <div class="container">
    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-5 col-md-2">
                    <div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd nav-pills-icons" id="v-pills-tab-with-icon" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" id="v-pills-home-tab-icons" data-bs-toggle="pill" href="#v-pills-home-icons" role="tab" aria-controls="v-pills-home-icons" aria-selected="false">
                            <i class="icon-home"></i> Plans
                        </a>
                        <a class="nav-link" id="v-pills-profile-tab-icons" data-bs-toggle="pill" href="#v-pills-profile-icons" role="tab" aria-controls="v-pills-profile-icons" aria-selected="true">
                            <i class="far fa-user"></i> Event
                        </a>
                    </div>
                </div>
                <div class="col-7 col-md-8">
                    <div class="tab-content" id="v-pills-with-icon-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home-icons" role="tabpanel" aria-labelledby="v-pills-home-tab-icons">
                            
                            <!-- ***************** -->
                            <!--  Pricing -->
                            <!-- **************** -->

                            <div class="container">
                                <h3 class="fw-bold mb-3">Pricing</h3>
                                            <div class="row justify-content-center align-items-center mb-1">
                                            <div class="col-md-4 ps-md-0">
                                                <div class="card card-pricing">
                                                <div class="card-header">
                                                    <h4 class="card-title text-wrap text-break fs-6" >{{ product1.name }}</h4>
                                                    <div class="card-price">
                                                    <span class="price text-wrap text-break fs-5">${{ product1.get_display_price }}</span>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="specification-list">
                                                    <li>
                                                        <span class="name-specification">No Manillas</span>
                                                        <span class="status-specification">1k</span>
                                                    </li>
                                                    
                                                    <li>
                                                        <span class="name-specification">Statistics</span>
                                                        <span class="status-specification">Yes</span>
                                                    </li>
                                                    <li>
                                                        <span class="name-specification">Support</span>
                                                        <span class="status-specification">Yes</span>
                                                    </li>
                                                    <li>
                                                        <span class="name-specification">Live Support</span>
                                                        <span class="status-specification">No</span>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <div class="card-footer">
                                                        {% csrf_token %}
                                                        <form action="{% url 'dashboard:createdb' %}" >
                                                            {% csrf_token %}
                                                            <button class="btn btn-primary w-100" type="submit">Get Started</button>
                                                            <input type="hidden" id="solicitud" name="solicitud" value="500">
                                                        </form>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 ps-md-0 pe-md-0">
                                                <div class="card card-pricing card-pricing-focus card-primary">
                                                <div class="card-header">
                                                    <h4 class="card-title text-wrap text-break fs-6">{{ product2.name }}</h4>
                                                    <div class="card-price">
                                                    <span class="price text-wrap text-break fs-5">${{ product2.get_display_price }}</span>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="specification-list">
                                                    <li>
                                                        <span class="name-specification">No Manillas</span>
                                                        <span class="status-specification">10k</span>
                                                    </li>
                                                    <li>
                                                        <span class="name-specification">Statistics</span>
                                                        <span class="status-specification">Yes</span>
                                                    </li>
                                                    <li>
                                                        <span class="name-specification">Support</span>
                                                        <span class="status-specification">Yes</span>
                                                    </li>
                                                    <li>
                                                        <span class="name-specification">Live Support</span>
                                                        <span class="status-specification">Yes</span>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <div class="card-footer">
                                                  {% csrf_token %}
                                                  <form action="{% url 'dashboard:createdb' %}" >
                                                      {% csrf_token %}
                                                      <button class="btn btn-light w-100" type="submit">Get Started</button>
                                                      <input type="hidden" id="solicitud" name="solicitud" value="1000">
                                                  </form>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 pe-md-0">
                                                <div class="card card-pricing">
                                                <div class="card-header">
                                                    <h4 class="card-title text-wrap text-break fs-6 ">{{ product3.name }}</h4>
                                                    <div class="card-price">
                                                    <span class="price text-wrap text-break fs-5">${{ product3.get_display_price }}</span>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="specification-list">
                                                    <li>
                                                        <span class="name-specification">No Manillas</span>
                                                        <span class="status-specification">30000</span>
                                                    </li>
                                                    <li>
                                                        <span class="name-specification">Statistics</span>
                                                        <span class="status-specification">Yes</span>
                                                    </li>
                                                    <li>
                                                        <span class="name-specification">Support</span>
                                                        <span class="status-specification">Yes</span>
                                                    </li>
                                                    <li>
                                                        <span class="name-specification">Live Support</span>
                                                        <span class="status-specification">Yes</span>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <div class="card-footer">

                                                  {% csrf_token %}
                                                  <form action="{% url 'dashboard:createdb' %}" >
                                                      {% csrf_token %}
                                                      <button class="btn btn-primary w-100" type="submit">Get Started</button>
                                                      <input type="hidden" id="solicitud" name="solicitud" value="30000">
                                                  </form>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                
                                
                                        </div>
    

                        </div>
                        
                        <div class="tab-pane fade" id="v-pills-profile-icons" role="tabpanel" aria-labelledby="v-pills-profile-tab-icons" aria-selected="true" tabindex="-1" aria-disabled="true">
                            
                          <!--  -->
                          <div class="form-group">
                            <h2>Create Event</h2>
                            <form method="POST">
                                {% csrf_token %}
                                
                                <label for="name">Event Name:</label>
                                <input class="form-control form-control" type="text" id="name" name="name" required>
                        
                                <label for="description">Description:</label>
                                <textarea class="form-control" id="description" name="description" required></textarea>
                        
                                <label for="date">Event Date:</label>
                                <input class="form-control form-control" type="datetime-local" id="date" name="date" required>
                                <br>
                                <button class="btn btn-primary" type="submit">Create Event</button>
                            </form>
                        </div>
                          <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  // Disable switching tabs by removing 'data-bs-toggle' and managing the active class
  document.querySelectorAll('.nav-link').forEach(function(tab) {
      tab.addEventListener('click', function(event) {
          event.preventDefault(); // Disable default tab switch
      });
  });

  // Ensure the "Plans" tab stays active and no other tab is activated
  const plansTab = document.getElementById("v-pills-home-tab-icons");
  const eventTab = document.getElementById("v-pills-profile-tab-icons");

  // Prevent the "Event" tab from being clicked
  eventTab.classList.add('disabled');
</script>

<script>

    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function(){
        fetch("{% url 'dashboard:createdb' %}",
            {
                method:"POST",
                headers: {
                    "Content-Type": "application/json",
                    'X-CSRFToken': csrftoken
                },
            })
            .then(function(response){
                return response.json();
            })
            .then(function(session){
                return stripe.redirectToCheckout({sessionId: session.id});
            })
            .then(function(result){
                if(result.error){
                    alert(result.error.message);
                }
            })
            .catch(function(error){

            })
    })
</script>



{% endblock %}
