{% extends 'base.html' %}
{% block title %}Manillas Bolivia{% endblock %}
{% load static %}
{% block content %}
<div class="wrapper">
  <!-- Sidebar -->
  <div class="sidebar" data-background-color="white">
    <!-- *************** -->
    <!-- CABECERA INICIO -->
    <!-- *************** -->
  <div class="sidebar-logo" >
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="white">
      <a href="{% url 'dashboard:inicio' %}" class="logo">
          <img
                src= "{% static 'img/kaiadmin/manLogo.png' %}"
                alt="navbar brand"
                class="navbar-brand"
                height="40"
           />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  
<!-- ********************** -->
<!-- INICIO DE Menu Lateral -->
<!-- ********************** -->

  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">

        <li class="nav-item">
          <a href="{% url 'dashboard:inicio' %}">
            <i class="fas fa-bars"></i>
            <p>Home</p>
          </a>
          
        </li>


        <li class="nav-item">
          <a href="{% url 'dashboard:qrscan' %}">
            <i class="fas fa-qrcode"></i>
            <p>QR Scanner</p>
          </a>
        </li>
        
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#forms">
            <i class="fas fa-pen-square"></i>
            <p>Create Event</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="forms">
            <ul class="nav nav-collapse">
              <li>
                <a href="{% url 'dashboard:create' %}">
                  <span class="sub-item">Create</span>
                </a>
              </li>
              <li>
                <a href="{% url 'dashboard:assign' %}">
                  <span class="sub-item">Assign Users</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
<!-- Monitor option-->
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#tables">
            <i class="fas fa-table"></i>
            <p>Monitor Event</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav nav-collapse">
              <li>
                <a href="{% url 'dashboard:share' %}">
                  <span class="sub-item">Basic Table</span>
                </a>
              </li>
              <li>
                <a href="{% url 'dashboard:tables' %}">
                  <span class="sub-item">Datatables</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

<!-- log Out -->
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#submenu">
            <i class="fas fa-bars"></i>
            <p>Log Out</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="submenu">
            <ul class="nav nav-collapse">
              <li>
                <a  href="{% url 'dashboard:inicio' %}">
                  <span class="sub-item">LogOut</span>
                </a>
                
              </li>
              
            </ul>
          </div>
        </li>
        <!-- END -->
           
      </ul>
    </div>
  </div>
</div>

<!-- ********************** -->
<!-- FIN DE Menu Lateral -->
<!-- ********************** -->

<div class="main-panel">
  <div class="main-header">

    <div class="main-header-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="{% url 'dashboard:inicio' %}" class="logo">
          <img
            src= "{% static 'img/kaiadmin/logo_light.svg' %}"
            alt="navbar brand"
            class="navbar-brand"
            height="20"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>

  <!-- Navbar Header -->
  <nav
    class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
  >
    <div class="container-fluid">
      <nav
        class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
      >
      <div>
        <h4 class="text-primary fw-bold mb-12">
          WristScan
        </h4>
      </div>
      </nav>

      <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
        
        <li class="nav-item topbar-user dropdown hidden-caret">
          <a
            class="dropdown-toggle profile-pic"
            data-bs-toggle="dropdown"
            href="#"
            aria-expanded="false"
          >
            <div class="avatar-sm">
              <!-- Imagen de Perfil -->
             <img
                src="{% static 'img/profile.jpg' %}"
                alt="..."
                class="avatar-img rounded-circle"
              /> 

            </div>
            <span class="profile-username">
              <span class="op-7">Hi,</span>
              <span class="fw-bold">Hizrian</span>
            </span>
          </a>
          <ul class="dropdown-menu dropdown-user animated fadeIn">
            <div class="dropdown-user-scroll scrollbar-outer">
              <li>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="#">My Balance</a>
                <a class="dropdown-item" href="#">Inbox</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Account Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar -->
  </div>

  <div class="container">
    <h3 class="fw-bold mb-3">Share QR codes</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Share QR Codes</button>
    </form>
  </div>
   
</div>




<script>
    document.addEventListener("DOMContentLoaded", function () {
        const spinner = document.getElementById("spinner");

        document.querySelectorAll("form").forEach(form => {
            form.addEventListener("submit", function () {
                spinner.style.display = "block";
            });
        });

        document.querySelectorAll("a").forEach(link => {
            link.addEventListener("click", function () {
                spinner.style.display = "block";
            });
        });
    });
</script>




{% endblock %}
